<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/auctions.css' />
        
        <style>
            body {
                margin: 0px;
            }
        </style>
    </head>
    <body>
        <header>
            <%- include('partials/navbar') %>
        </header>
        <div class="container">
            
            <div class="auctionsContainer">

                <div class="auctionsCard">

                    <div class="auctionsCardWrapper">

                        <button class="auctionCardHeader">

                            <div class="auctionCardHead">
                                <div class="auctionCardHead-avatar">
                                    <div class="auctionCardHead-avatar-image">S</div>
                                </div>
                                <div class="auctionCardHead-content">
                                    <span class="auctionCardHead-avatar-name">Woot New</span>
                                </div>
                            </div>

                            <div class="auctionCardBody">
                            </div>

                            <div class="auctionCardFoot">
                                <div class="auctionCardFoot-details">
                                    <div>
                                        <span class="auctionCardFoot-details-header">
                                            No bids
                                        </span>
                                        <p class="auctionCardFoot-details-data">
                                            HIGHEST BID
                                        </p>
                                    </div>
                                </div>
                                <div class="auctionCardFoot-details">
                                    <div>
                                        <span class="auctionCardFoot-details-header">
                                            0 hours 2 mins 23 secs
                                        </span>
                                        <p class="auctionCardFoot-details-data">
                                            TIME REMAINING
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </button>

                        <div class="auctionCardFooter">

                            <div class="auctionCardFooter-card">

                                <button class="auctionCardFooter-button">
                                    <span class="auctionCardFooter-label">Your Auction</span>
                                </button>

                            </div>
                                

                        </div>

                    </div>

                </div>

                <div class="auctionsCard">

                    <div class="auctionsCardWrapper">

                        <button class="auctionCardHeader">

                            <div class="auctionCardHead">
                                <div class="auctionCardHead-avatar">
                                    <div class="auctionCardHead-avatar-image">S</div>
                                </div>
                                <div class="auctionCardHead-content">
                                    <span class="auctionCardHead-avatar-name">Woot New</span>
                                </div>
                            </div>

                            <div class="auctionCardBody">
                            </div>

                            <div class="auctionCardFoot">
                                <div class="auctionCardFoot-details">
                                    <div>
                                        <span class="auctionCardFoot-details-header">
                                            No bids
                                        </span>
                                        <p class="auctionCardFoot-details-data">
                                            HIGHEST BID
                                        </p>
                                    </div>
                                </div>
                                <div class="auctionCardFoot-details">
                                    <div>
                                        <span class="auctionCardFoot-details-header">
                                            0 hours 2 mins 23 secs
                                        </span>
                                        <p class="auctionCardFoot-details-data">
                                            TIME REMAINING
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </button>

                        <div class="auctionCardFooter">

                            <div class="auctionCardFooter-card">

                                <button class="auctionCardFooter-button">
                                    <span class="auctionCardFooter-label">Your Auction</span>
                                </button>

                            </div>
                                

                        </div>

                    </div>

                </div>


                <div class="auctionsCard">

                    <div class="auctionsCardWrapper">

                        <button class="auctionCardHeader">

                            <div class="auctionCardHead">
                                <div class="auctionCardHead-avatar">
                                    <div class="auctionCardHead-avatar-image">S</div>
                                </div>
                                <div class="auctionCardHead-content">
                                    <span class="auctionCardHead-avatar-name">Woot New</span>
                                </div>
                            </div>

                            <div class="auctionCardBody">
                            </div>

                            <div class="auctionCardFoot">
                                <div class="auctionCardFoot-details">
                                    <div>
                                        <span class="auctionCardFoot-details-header">
                                            No bids
                                        </span>
                                        <p class="auctionCardFoot-details-data">
                                            HIGHEST BID
                                        </p>
                                    </div>
                                </div>
                                <div class="auctionCardFoot-details">
                                    <div>
                                        <span class="auctionCardFoot-details-header">
                                            0 hours 2 mins 23 secs
                                        </span>
                                        <p class="auctionCardFoot-details-data">
                                            TIME REMAINING
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </button>

                        <div class="auctionCardFooter">

                            <div class="auctionCardFooter-card">

                                <button class="auctionCardFooter-button-bid">
                                    <span class="auctionCardFooter-label">BID NOW !</span>
                                </button>

                            </div>
                                

                        </div>

                    </div>

                </div>
            </div>


            
            
        </div>
    </body>
    </html>