<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="banner">
      <h1>Welcome to auction Room !</h1>
     <a href="/login"> <button>Lets Go !</button> </a>
      </form>
    </section>
  </body>
</html>
