a {
  color: #00B7FF;
}


body {
  background:#ededed;;
  background-size: cover;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 14px 
}


.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  /*width: 285px;*/
  margin: -140px 0 0 -182px;
  padding: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.banner h1{
  font-weight: 300;;
}
.banner button {
  cursor: pointer;
  background: #44c4e7;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  color: #fff;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
}
.banner button:hover {
  background: #369cb8;
}
.error,
.valid {
  display: none;
}


.navbar {
  width: 100%;
  display: flex;
  padding: 14px;
  background: linear-gradient(
181deg, rgb(17 127 122) 0%, rgb(57 171 44) 48%, rgb(37 121 21) 100%);
  box-sizing: border-box;
  margin-bottom: 24px;
  }

  .header {
    display: flex;
    flex-basis: 50%;
  }

  .loginLogoutContainer {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: flex-end;
    color: white;
  }
  
  .loginLogout-root{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
  }
  .loginLogout-button{
    color: white;
    padding: 6px 8px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
  }
  .loginLogout-label{
    width: 100%;;
  }